@import url('https://fonts.googleapis.com/css?family=Poppins');

/* theme */
.w3-theme-l5 {color:#000 !important; background-color:#eafffd !important}
.w3-theme-l4 {color:#000 !important; background-color:#bafff7 !important}
.w3-theme-l3 {color:#000 !important; background-color:#74ffef !important}
.w3-theme-l2 {color:#000 !important; background-color:#2fffe7 !important}
.w3-theme-l1 {color:#fff !important; background-color:#00e9cd !important}
.w3-theme-d1 {color:#fff !important; background-color:#009382 !important}
.w3-theme-d2 {color:#fff !important; background-color:#008373 !important}
.w3-theme-d3 {color:#fff !important; background-color:#007265 !important}
.w3-theme-d4 {color:#fff !important; background-color:#006256 !important}
.w3-theme-d5 {color:#fff !important; background-color:#005248 !important}

.w3-theme-light {color:#000 !important; background-color:#eafffd !important}
.w3-theme-dark {color:#fff !important; background-color:#005248 !important}
.w3-theme-action {color:#fff !important; background-color:#005248 !important}

.w3-theme {color:#fff !important; background-color:#00a591 !important}
.w3-text-theme {color:#00a591 !important}
.w3-border-theme {border-color:#00a591 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#00a591 !important}
.w3-hover-text-theme:hover {color:#00a591 !important}
.w3-hover-border-theme:hover {border-color:#00a591 !important}


/* BASIC */

html {
    font-family: "Poppins", sans-serif !important;
    /*background-color: #86C7B2;*/

    background-image: url("https://wallpaperaccess.com/full/3350072.jpg");
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: 0.3s ease-in-out;
      
}

body {
    font-family: "Poppins", sans-serif !important;
    height: 100vh;
}

a {
  font-family: "Poppins", sans-serif !important;
  /*color: #92badd;*/
  color: #51a98d;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  font-family: "Poppins", sans-serif !important;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  color: #cccccc;
}

h1 {
    font-family: "Poppins", sans-serif !important;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
    color: #000000;
  }

header {
    color: white;
    background-color: var(--theme-color);
    z-index: 1;
    top: 0;
    font-size: large;
}

header h1 {
    margin: 0;
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
}

nav.fixed_nav_bar {
    padding: 0;
    background-color: var(--theme-color);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    overflow:auto;
}

nav.fixed_nav_bar ul {
    list-style-type: none;
    margin: 0;
    position: relative;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    padding: 0 15px;
}

nav.fixed_nav_bar li {
    display: inline-block;
    min-width: 11%;
}

nav.fixed_nav_bar li:last-child {
    float: right;
}

nav.fixed_nav_bar li a {
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

nav.fixed_nav_bar li a:hover {
    color: var(--theme-color);
    background-color: var(--hover-color);
}

div.main-content {
    display: block;
    margin: auto;
    width: fit-content;
    min-width: fit-content;
    margin-bottom: 10px;
}

main table{
    width: 100%;
}

.error-message {
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    color: red;
    text-align: center;
    font-size: medium;
    font-style: italic;
}

.success-message {
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    color: green;
    text-align: center;
    font-size: medium;
    font-style: italic;
}

div.report-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    min-width: 60vw;
}

div.report-content div.data-value {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    min-width: 400px;
    padding: 5px;
    margin: 10px;
}

div.data-value {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.data-value div.data-group {
    margin: 15px;
}

div.data-value div.data-group span.overall-data {
    text-align: center;
    font-size: 30px;
    display: block;
    margin: auto;
    margin-bottom: 7px;
}

div.data-value div.data-group span.data-title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    text-decoration: overline;
    display: block;
    margin: auto;
}



/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formContentW2 {
    -webkit-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 750px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }

#formHeader {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 5px;
    text-align: center;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    width: 90%;
    max-width: 750px;
}

#formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 5px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}



/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #86C7B2;
}



/* FORM TYPOGRAPHY*/

input[type=button], input[type=reset], input[type=submit] {
  background-color: #51a98d;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(134,199,178,0.4);
  box-shadow: 0 10px 30px 0 rgba(134,199,178,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #86C7B2;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text], input[type=password], input[type=email], input[type=date] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 95%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=date]:focus {
  background-color: #fff;
  border-bottom: 2px solid #86C7B2;
}

input[type=text]:placeholder, input[type=password]:placeholder, input[type=email]:placeholder, input[type=date]:placeholder {
  color: #cccccc;
}



/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

.fadeIn.fifth {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    animation-delay: 1.2s;
  }

.fadeIn.sixth {
    -webkit-animation-delay: 1.4s;
    -moz-animation-delay: 1.4s;
    animation-delay: 1.4s;
}


/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #86C7B2;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}



/* OTHERS */

*:focus {
    outline: none;
} 

#icon {
  width:45%;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}

* {
  box-sizing: border-box;
}